<h1>Sign in</h1>
<div class="signin-page">
	<div id="signin-button">
		<%= form_for(:session, :url => sessions_path) do |f| %>
		<div class="field">
			<%= f.label :email, :class => "signin-label" %><br />
			<%= f.text_field :email, :class => "signin-field" %>
		</div>
		<div class="field">
			<%= f.label :password, :class => "signin-label" %><br />
			<%= f.password_field :password, :class => "signin-field" %>
		</div>
		<div class="actions">
			<%= f.submit "Sign In", :class => "signin-page-submit" %>
		</div>
		<div class="signin-forgot-pw">
			<%= link_to "Forgot Password", new_password_reset_path %>
		</div>
	<% end %>
		<div>
			<p>New user? <%= link_to "Sign up now!", signup_path %></p>
		</div>
	</div>
</div>
